.color-primary {
   color: #fff;
   background-color: #0062cc;
   border-color: #005cbf;
}

.txt-light {
   color: $angboot-text-light;
}

.txt-dark {
   color: $angboot-text-dark;
}

.txt-primary {
   color: $primary;
}

.txt-secondary {
   color: $secondary;
}
