/* layout, sizing, spacing classes */

.form-row-base {
  align-items: center;
}

.form-row-float-label {
  @extend .form-row-base;
  margin-bottom: 0.75rem;
}

.form-row-checkbox {
  @extend .form-row-base;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

label.has-float-label {
  margin-bottom: 0;
}

.bordered-box {
  border: 1px solid $input-border-color;
  padding: 0.25em;
  overflow: auto;
  height: 10em;
}

.bordered-box.bordered-box-md {
  height: 16em;
}

.bordered-box.bordered-box-lg {
  height: 24em;
}

.bordered-box.disabled {
  background-color: #eceeef;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.5);
}

.btn-container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  button {
    margin: 0.25em;
    width: 100%;
    padding: 0.25rem 0.75rem;
  }
}

