html, body {
   height: 100%;
}

body {
   overflow: hidden; /* prevent scrollbars in FF */
   padding: 0px;
   margin: 0px;
   font-family: Roboto, "Helvetica Neue", sans-serif; /* Angular material */
}
