.em-monitor-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.em-monitor-left-sidenav {
  min-width: 20%;
}

.em-monitor-right-sidenav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
