<div class="title-bar-container btn-toolbar">

  <div role="group" aria-label="Angboot Btn">
    <div class="angboot-icon-size">
      <img class="angboot-icon-size txt-light" src="favicon.ico"/>
      <span class="sr-only">Angboot</span>
    </div>
  </div>

  <div class="btn-group" role="group" aria-label="EM Home Btn">
    <a href="..">
      <button type="button" class="btn btn-default tile-bar-icon-size bg-primary">
        <i class="home-icon"></i>
        <span class="sr-only">Home</span>
      </button>
    </a>
  </div>

</div>
