<nav class="navbar navbar-inverse title-bar-container" role="navigation">
  <div class="container-fluid em-title-body">
    <div class="navbar-header">
      <span class="logo-icon-size">
        <img class="logo-icon-size txt-light" src="favicon.ico"/>
        <span class="sr-only txt-light">AngBoot</span>
      </span>

      <span class="logo-icon-size color-primary">
        <a href=".." title="Home" class="nav-icon-size">
          <i class="fa fa-home fa-fw nav-icon-size em-toolbar-icon txt-light title-bar-icon"
             aria-hidden="true"></i>
          <span class="sr-only txt-light">Home</span>
        </a>
      </span>
    </div>
  </div>
</nav>
