<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AngBoot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/portal/favicon" data-th-href="@{portal/favicon}">
    <link rel="stylesheet" type="text/css" href="/login.css" th:href="@{/login.css}">
    <link rel="stylesheet" type="text/css" href="/bootstrap-float-label.css" th:href="@{/bootstrap-float-label.css}">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
    <script src="/webjars/jquery/3.3.1-2/jquery.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</head>
<body class="container-fluid login-container">
    <form class="login-form-content" action="/login" th:action="@{login}" method="post">
        <div class="row">
            <div class="col">
                <label class="has-float-label">
                    <input type="text" name="name" class="form-control" placeholder="Username" />
                    <span>UserName:</span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label class="has-float-label">
                    <input type="password" name="password" class="form-control" placeholder="Password" />
                    <span>Password:</span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary btn-block" type="submit">Log in</button>
            </div>
        </div>
    </form>
</body>
</html>