<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AngBoot</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" th:href="@{/favicon.ico}">
</head>
<body>
    <a href="/app/portal" th:href="@{/app/portal}">Portal</a>
    <br>
    <a href="/app/em" th:href="@{/app/em}">EM</a>
    <br>
    <a href="/app/tools" th:href="@{/app/tools}">Tools</a>
    <br>
    <a href="https://dreamli1314.github.io/angboot/" th:href="@{https://dreamli1314.github.io/angboot/}">Help</a>
</body>
</html>
