.host {
  width: 100%;
  height: 100%;
}

.loading-splash {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../assets/favicon.ico");
  background-repeat: no-repeat;
  background-position-y: calc(50% - 12px);
  background-position-x: center;
  background-size: 218px 96px;
  display: none;

  &.is-loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.loading-splash > span {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  margin-top: 96px;
  padding: 0;
  line-height: 1;
}