.em-tool-bar-container {
   width: 100%;
   flex-grow: 0;
   flex-shrink: 0;
   background-color: #e0e0e0;
   color: #424242;
   height: 40px !important;
}

.em-tool-bar-toggle-btn {
   margin-right: 10px;
}
