<div *ngIf="visibleActions.length > 0"
     class="dropdown-menu show contextmenu-container">
  <ng-template ngFor let-group [ngForOf]="visibleActions" let-_first="first" let-i="index">
    <div class="dropdown-divider" *ngIf="!_first"></div>
    <ng-template ngFor let-action [ngForOf]="group.actions" let-j="index">
      <a class="dropdown-item" *ngIf="action.visible() && action.action"
         [attr.data-menu-id]="action.id()"
         [class.disable-link]="!action.enabled()"
         [class.selected]="isFocused(i, j)"
         [ngClass]="action.classes && action.classes()"
         [class.has-child-item]="action.childAction"
         (click)="onClick(action)"
         (mouseover)="openChild($event, action)">
        <span class="item-label" [innerHTML]="action.label()"></span>
        <span class="bare-arrow-right-icon" *ngIf="action.childAction"></span>
      </a>
      <a class="dropdown-item" *ngIf="action.visible() && action.link"
         [attr.data-menu-id]="action.id()"
         [class.disable-link]="!action.enabled()"
         [class.selected]="isFocused(i, j)"
         [ngClass]="action.classes && action.classes()"
         [innerHTML]="action.label()"
         [href]="action.link()" [target]="forceTab ? '_blank' : action.target()"></a>
    </ng-template>
  </ng-template>
</div>
